<!DOCTYPE html>
<html>
<head>
    <title>Weather Information Code</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
        }

        h1 {
            margin-top: 0;
        }

        dl {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        dt {
            width: 100px;
            font-weight: bold;
        }

        dd {
            width: calc(100% - 100px);
            margin-left: 0;
        }
    </style>
</head>
<body>
<h1>Current Weather</h1>
<dl>
    <dt>Temperature:</dt>
    <dd>{{ temperature }}</dd>
    <dt>Weather Condition:</dt>
    <dd>{{ weather_condition }}</dd>
    <dt>Feels Like:</dt>
    <dd>{{ feels_like }}</dd>
</dl>
</body>
</html>